@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #252A2E;
    flex-direction: column;
}

.text {
    font-size: 45px;
    color: #1CB698;
    margin-bottom: 30px;
}

.paragrafo {
    color: #fff;
    margin-bottom: 50px;
}

.obgbtn {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.obgbtn .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.obgbtn a {
    color: #fff;
}
.obgbtn:hover .overlay{
    width: 100%;
}